

<div class="row">
	
	<div class="col-md-5">
		<%= image_tag @product.product_img.url(:product_show), class:"product_show"%>
	</div>
	<div class="col-md-7">
		<blockquote>
			<h2><%= @product.name%></h2>
		<h3>Description <small><%= @product.description%></small></h3>
		<h3>Feature <small><%= @product.feature%></small></h3>
		<h3>Cost Rs: <%= @product.cost_of_product%></h3>
		<h3>No.of Stock: <%= @product.no_of_stock%></h3>
		<% if user_signed_in?%>

		<% if @product.user_id == current_user.id%>
		<%= link_to "Back", root_path, class:"btn btn-info"%>
		<%= link_to "Edit Product", edit_product_path, class:"btn btn-success"%>

		<%= link_to "Destroy", product_path(@product),class:"btn btn-danger", method: :DELETE, data: {confirm: "Are you sure?" }%>

		<% else%>
		<%= link_to "Back", root_path, class:"btn btn-info"%>

		<% end %>
		<% else%>
		<%= link_to "Back", root_path, class:"btn btn-info"%>

		<% end %>
		</blockquote>
		<h3>Comments</h3>
			<% @comments.each do |comment|%>
				<h4><%=comment.user.email%><br></h4>
				<%= comment.content%><hr>

			<% end %>

		<% if user_signed_in?%>
			<%= form_tag("/products/" + @product.id.to_s + "/comments", method: "post") do %>
			 <%= label_tag(:q, "Comment Here:") %><br>
			 <%= text_field_tag(:q) %>
			 <%= submit_tag("Create Comment") %>
		<% end %>
		<% end%>

	</div>
</div>

